body {
	background-color: #4779ed;
}

h1 {
	color: #d8dff0;
	font-family: arial;
	text-align: center;
	font-size: 100px;
}

p {
	color: #b2bdd9;
	font-family: malgun gothic;
	text-align: center;
	font-size: 20px;
}